[Unit]
Description=The Science Mesh Reva service
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=notify
EnvironmentFile=/etc/defaults/revad
ExecStart=/usr/local/bin/revad $OPTIONS -c /etc/revad/revad.toml -p /run/revad/revad.pid
ExecReload=/bin/kill -s HUP $(cat /run/revad/revad.pid)
ExecStop=/bin/kill -s QUIT $(cat /run/revad/revad.pid)

[Install]
WantedBy=multi-user.target
